doctype html
html
  head
    title Abizo
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons',rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src='/javascripts/materialize.js')
    block pre
  body
    block content
    script(src='/javascripts/app.js')
    block post
